.about {
  gap: 20px;
  text-align: justify;

  &__content > p {
    padding-bottom: 29px;
    line-height: 2;
  }
  &__image {
    img {
      width: 450px;
    }
  }

  &__content {
    ul {
      li {
        padding: 14px 0;
        b {
          display: inline-block;
          padding-bottom: 4px;
        }
        div {
          gap: 4px;
        }
      }
    }
  }

  p {
    max-width: 500px;
  }
}

@media screen and (max-width: 768px) {
  .about {
    flex-direction: column-reverse;
    max-width: 350px !important;
    margin: 0 auto;
    p {
      padding-top: 0px;
    }
    &__image {
      text-align: center;
      order: 1;
      img {
        width: 300px;
      }
    }
  }
}
