.contact {
  h3 {
    font-size: 2em;
    margin-bottom: 20px;
    font-weight: lighter;
  }

  .contact-infos {
    li {
      padding-bottom: 20px;
      display: flex;
      align-items: center;
      gap: 50px;
    }
  }

  .contact-infos > p {
    max-width: 400px;
    margin-bottom: 40px;
    line-height: 1.6;
  }

  ul {
    flex-direction: column;
    gap: 30px;
  }

  .social-medias {
    gap: 30px;
  }
}

.dark {
  svg {
    fill: white;
  }
}

.cellphone-logo-container {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    max-width: 350px;
    gap: 40px;
    margin: auto;
  }
}
